/*Base*/

html,
body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: Comfortaa, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #130900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#header,
#hero {
  background: #ffc409;
}

a {
  color: #130900;
  text-decoration: none;
}

h1,
h2 {
  /*margin-block-start: 0;*/
  /* margin-block-end: 0; */
  text-align: center;

  font-family: Varela Round;
  font-style: normal;
  font-weight: 600;
  font-size: 20vw;
  /* text-transform: uppercase; */
  -webkit-text-stroke: 4px #130900;
  -webkit-text-fill-color: #fffdf1;

  color: #fffdf1;
  text-shadow: 0px 30px 0px #130900;
  position: relative;
}

.button {
  background: #fffdf1;
  border: 2px solid #130900;
  box-shadow: 0px 4px 0px #130900;
  border-radius: 8px;
  padding: 15px 25px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  text-decoration: none;
}

.linkButton:before {
  content: " ";
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  background-image: url("../images/arrow.png");
  background-position: center;
  background-size: contain;
}

.button:active,
.button.active {
  line-height: 45px;
  box-shadow: 0px 0px 0px #130900;
}

/*Header*/

#header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 56px;
}

.highlight {
  margin-left: 20px;
}

.highlight:before {
  content: " ";
  display: inline-block;
  width: 11px;
  height: 11px;
  background: #130900;
  border-radius: 11px;
  margin-right: 16px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}

.social {
  margin-right: 25px;
  font-size: 0;
  display: block;
}

.buttons.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Hero*/

#hero {
  background: #ffc409;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
  border-bottom: 4px solid black;
  padding-bottom: 64px;
}

#hero h1 {
  margin-top: 0px;
  margin-bottom: 48px;
}

#hero p {
  margin: 50px 0 0 4px;
}

#hero p u {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

#hero p u:after {
  content: " ";
  height: 4px;
  width: 100%;
  background: #130900;
  display: inline-block;
  border-radius: 4px;
  position: absolute;
  bottom: -5px;
  left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* Start Earning Test Tokens Now! */

section[aria-labelledby="app-link-buttons"] {
  max-width: 1300px;
}

section[aria-labelledby="app-link-buttons"] h2 {
  font-size: 7vw;
  text-shadow: 0px 8px 0px #130900;
  margin: 0 80px 56px 80px;
  -webkit-text-stroke: 2px #130900;
}

.app-link-buttons, .app-link-buttonsB {
  margin: auto;
  justify-content: center;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 12px;
}

.app-link-buttons img {
  max-width: 300px;
}

/*Animation*/

/* Token leaderboard */
.token-leaderboard,
footer {
  background: #ff571a;
  color: black;
  border-bottom: 4px solid black;
}

.token-leaderboard {
  display: flow-root;
  padding: 56px 36px 56px;
}

.token-leaderboard h1 {
  font-size: 7vw;
  text-shadow: 0px 8px 0px #130900;
  -webkit-text-stroke: 2px #130900;
  margin: 0 0 32px;
}

.table-container {
  position: relative;
  max-width: 560px;
  margin: 40px auto;
  padding: 16px 32px;
}

.table-container::before, .table-container::after {
  content: '';
  display: block;
  position: absolute;
  height: 103%;
  width: 97%;
  border: 8px solid;
  border-radius: 25px 0 25px 0;
  -webkit-border-radius: 25px 0 25px 0;
  -moz-border-radius: 25px 0 25px 0;
  -ms-border-radius: 25px 0 25px 0;
  -o-border-radius: 25px 0 25px 0;
}

.table-container::before {
  top: 0;
  left: 0;
  border-color: #130900 #fffdf100 #fffdf100 #130900;
  transform: translate(-8px, -8px);
  -webkit-transform: translate(-8px, -8px);
  -moz-transform: translate(-8px, -8px);
  -ms-transform: translate(-8px, -8px);
  -o-transform: translate(-8px, -8px);
}

.table-container::after {
  bottom: 0;
  right: 0;
  border-color: #13090000 #fffdf1 #fffdf1 #13090000;
  transform: translate(8px, 8px);
  -webkit-transform: translate(8px, 8px);
  -moz-transform: translate(8px, 8px);
  -ms-transform: translate(8px, 8px);
  -o-transform: translate(8px, 8px);
}

.table-container[aria-expanded="true"]::before, .table-container[aria-expanded="true"]::after {
  height: 95%;
}


.token-leaderboard-table {
  display: grid;
  grid-template-rows: auto 0fr;
  transition: grid-template-rows 0.5s;
  -webkit-transition: grid-template-rows 0.5s;
  -moz-transition: grid-template-rows 0.5s;
  -ms-transition: grid-template-rows 0.5s;
  -o-transition: grid-template-rows 0.5s;
}

.token-leaderboard-table[aria-expanded="true"] {
  grid-template-rows: auto 1fr;
}

.tbody[aria-hidden] {
  overflow: hidden;
}

.token-leaderboard-table .tr {
  display: grid;
  grid-template-columns: 85px 0.7fr 1.3fr;
  align-items: end;
  column-gap: 16px;
}

.token-leaderboard-table .td {
  padding: 16px;
}

.token-leaderboard-table :is(.always-show .tr + .tr, .can-hide .tr) {
  border-top: #130900 solid 2px;
}

.token-leaderboard-table .always-show .tr:nth-child(-n+3) :is(.td:first-child, .td:last-child) {
  font-family: Varela Round;
  font-style: normal;
  font-size: 3rem;
  -webkit-text-stroke: 2px #130900;
  -webkit-text-fill-color: #fffdf1;
  text-shadow: 0px 4px 0px #130900;
}

.token-leaderboard-table .tr :is(.td:first-child, .td:last-child) {
  text-align: right;
  font-size: 2.5rem;
}

.token-leaderboard-table .tr > .td:nth-child(2) {
  text-align: left;
  font-size: 1.4rem;
}

.token-leaderboard-table .tr p {
  margin: 0;
  padding: 0;
}

.table-show {
  font-size: 1.2rem;
  font-weight: 600;
  margin: auto;
  width: fit-content;
}

.table-show:hover {
  cursor: pointer;
}

/* down arrow button */

#downArrow {
  width: 54px;
  height: 54px;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 56px;
  bottom: 56px;
  background-color: #ffc0c1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
}

#downArrow img {
  transform: rotate(135deg);
  height: 24px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

/* Market data badge */

#marketData {
  max-width: 275px;
  position: fixed;
  left: 56px;
  bottom: 56px;
  z-index: 10;
  line-height: 120%;
  display: none;
  justify-content: center;
}

#marketDataValues {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#marketDataValues div {
  display: flex;
  justify-content: space-between;
}

#marketDataValues p {
  margin: 3px 12px;
}

#marketDataValuesRow1 {
  font-weight: 600;
}

#assetPercentLabel {
  opacity: 0.3;
}

#assetChangeContainer {
  display: flex;
  align-items: center;
}

/*Coins*/

#coins {
  width: 100vw;
  min-height: 200vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#coins img {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.7);
}

/* LangX Token Introduction */

.langx-token-introduction-section {
  background-color: #ffc409;
  padding: 1px 24px 64px;
}

.langx-token-introduction-section :is(h1, h2) {
  -webkit-text-stroke: 2px #130900;
}

.langx-token-introduction-section h1 {
  font-size: 5.5rem;
  text-shadow: 0px 8px 0px #130900;
  margin: 32px 0px 24px;
}

.langx-token-introduction-section > main {
  max-width: 900px;
}


.langx-token-introduction-section p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.langx-token-introduction-section > main {
  display: flow-root;
  margin: auto;
}

.langx-token-introduction-section > main > section + section {
  margin-top: 72px;
}

.langx-token-introduction-section > main > section + section::before  {
  content: '';
  display: block;
  position: relative;
  background-color: #ff571a;
  height: 4px;
  width: 95%;
  margin: auto;
  top: -40px;
}
.bigger-fs {
  font-size: 6.6rem;
  text-shadow: 0px 10px 0px #130900;
}

.langx-token-introduction-section a[href]{
  color: #d41c16;
  text-decoration: #d41c16 2px solid underline;
  font-weight: 600;
  text-underline-offset: 3px;
}

.langx-token-introduction-section a[href]:hover{
  cursor: alias;
}

.langx-token-introduction-section h2 {
  font-size: 4.8rem;
  text-shadow:  0px 6px 0px #130900;
}

.langx-token-introduction-section :is(h2, h3) {
  margin: 0px;
}

.list-token-distribution-criteria {
  font-size: 1.1em;
  border: #d44916 5px;
  border-style: dashed;
  border-radius: 12px;
  max-width: fit-content;
  margin: 24px auto 0px;
  padding: 16px 40px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.list-token-distribution-criteria :is(ul) {
  margin:0 0 0 16px;
  padding: 0;
  text-indent: 0;
}

.list-token-distribution-criteria ::marker{
  color: #d44916;
  font-size: 1.6rem;
}

.list-token-distribution-criteria li + li {
  margin-top: 0.5rem;
}

section[aria-labelledby="using-langx-tokens"] > .accordion{
  margin: 16px auto 0;
}

.accordion-panel {
  display: grid;
  padding: 16px 24px;
  grid-template-rows: auto 0fr;
  transition: grid-template-rows 500ms ease-out;
  -webkit-transition: grid-template-rows 500ms ease-out;
  -moz-transition: grid-template-rows 500ms ease-out;
  -ms-transition: grid-template-rows 500ms ease-out;
  -o-transition: grid-template-rows 500ms ease-out;
  cursor: pointer;
}

.accordion-panel + .accordion-panel {
  border-top: #000 1px solid;
}

.accordion-panel-title{
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 16px;
}

.accordion-panel-title > a {
  transition: transform 500ms;
  font-size: 2rem;
  -webkit-transition: transform 500ms;
  -moz-transition: transform 500ms;
  -ms-transition: transform 500ms;
  -o-transition: transform 500ms;
}

.is-open {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.accordion-content {
  overflow: hidden;
}

.accordion-content > p:first-child {
  margin-top: 16px;
}

.accordion-panel[aria-expanded="true"] {
  grid-template-rows: auto 1fr;
}

/*Footer*/
footer {
  width: 100%;
  display: inline-block;
}

footer .footer-content {
  width: calc(100% - 56px);
  margin: 42px auto;
  display: flex;
  justify-content: space-between;
}

footer .left,
footer .right {
  display: flex;
  justify-content: center;
}

footer p,
.buttons {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 12px 5px 0 0;
}

.mobile {
  visibility: hidden;
}

@media screen and (max-width: 1024px) {
  h1,
  h2 {
    -webkit-text-stroke: 2px #130900;
    -webkit-text-fill-color: #fffdf1;
  }

  footer .left,
  .footer-content {
    flex-direction: column;
  }

  footer .footer-content {
    width: 100%;
  }

  footer .left {
    margin-bottom: 12px;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  h1 {
    font-size: 28vw;
  }

  .highlight {
    display: none;
  }

  #coins img {
    transform: scale(0.3);
  }

  #hero {
    padding-top: 128px;
    height: max(70vh, auto);
    border-bottom: 2px solid black;
  }

  #hero p {
    margin-top: 16px;
    text-align: center;
    width: 80%;
  }

  #hero p u:after {
    display: none;
  }

  section[aria-labelledby="app-link-buttons"] h2 {
    font-size: 9vw;
    margin-top: 48px;
    text-shadow: 0px 4px 0px #130900;
  }

  .app-link-buttons {
    max-width: 600px;
    column-gap: 24px;
    row-gap: 16px;
  }

  .app-link-buttons img {
    max-width: 270px;
  }

  #languageXchangeSection {
    /* padding-top: 30vw; */
    padding-bottom: 10vw;
    overflow: hidden;
  }

  /*
  #languageXchangeSection h1 {
    font-size: 12vw;
    text-shadow: 0px 8px 0px #130900;
  }
 */

  .social {
    margin: 0 5px;
  }

  footer p,
  .buttons {
    margin: 12px;
  }

  /* LangX Token Introduction */
  .langx-token-introduction-section > main {
    max-width: 85%;
  }

  .langx-token-introduction-section h1 {
    font-size: 4.5rem;
    text-shadow: 0px 4px 0px #130900;
    margin-bottom: 48px;
  }

  .bigger-fs {
    font-size: 5rem;
    text-shadow: 0px 6px 0px #130900;
  }

  .langx-token-introduction-section h2 {
    text-shadow: 0px 4px 0px #130900;
    font-size: 3rem;
  }

  .langx-token-introduction-section p, .accordion-panel-title {
    font-size: 1.1rem;
  }

  .list-token-distribution-criteria {
    font-size: 1rem;
  }
}

@media screen and (max-width: 540px) {
  #header {
    display: none;
  }

  .mobile {
    visibility: visible;
  }

  #hero {
    padding: 48px 16px 48px;
  }

  #hero p {
    font-size: 18px;
    margin: 0 0 16px;
  }

  #hero h1 {
    padding: 0;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .app-link-buttons img {
    max-width: 200px;
  }

  section[aria-labelledby="app-link-buttons"] h2 {
    font-size: 10vw;
    margin: 48px 8px 24px;
  }

  /* #languageXchangeSection {
    padding-top: 60vw;
    padding-bottom: 10vw;
  }

  #languageXchangeSection h1,
  #languageXchangeSection h2 {
    display: none;
  } */

  #languageXchangeSection {
    padding-top: 10vw;
  }

  #languageXchangeSection h1 {
    font-size: 14vw;
    text-shadow: 0px 4px 0px #130900;
  }

  #languageXchangeSection h2 {
    font-size: 18vw;
    text-shadow: 0px 6px 0px #130900;
    margin: 32px 0;
  }

  #languageXchangeSection h3 {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 8vw;
    /* text-shadow: 0px 10px 0px #130900; */
    line-height: 0;
    margin-top: 40vw;
    margin-bottom: 2vw;
    -webkit-text-stroke: 1px #130900;
    -webkit-text-fill-color: #130900;
  }

  #downArrow {
    /* right: calc(50% - 27px);
    bottom: 175px;
    z-index: 0; */
    display: none;
  }

  #marketData {
    max-width: calc(100vw - 32px);
    width: calc(100vw - 32px);
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 16px;
    box-sizing: border-box;
  }

  #marketDataValues div {
    justify-content: space-between;
    padding: 0;
  }

  .footer-content {
    padding-bottom: 80px;
  }

  /* Leaderboard Token Section */
  .token-leaderboard {
    padding: 40px 32px 24px;
  }

  .token-leaderboard h1 {
    font-size: 14vw;
    text-shadow: 0px 4px 0px #130900;
    -webkit-text-stroke: 2px #130900;
      margin: 0 0 32px;
  }

  .table-container {
    margin: 40px auto 32px;
    padding: 8px 16px;
  }

  .token-leaderboard-table .tr {
    grid-template-columns: 40px auto 1.2fr;
    gap: 1px;
  }

  .token-leaderboard-table :is(.always-show .tr + .tr, .can-hide .tr) {
    border-top: #130900 solid 1px;
  }

  .token-leaderboard-table .always-show .tr:nth-child(-n+3) :is(.td:first-child, .td:last-child) {
    font-size: 1.6rem;
    -webkit-text-stroke: 1px #130900;
    -webkit-text-fill-color: #fffdf1;
    text-shadow: 0px 2px 0px #130900;
  }

  .token-leaderboard-table .tr :is(.td:first-child, .td:last-child) {
    font-size: 1.3rem;
  }

  .token-leaderboard-table .tr > .td:nth-child(2) {
    font-size: 0.8rem;
  }

  .token-leaderboard-table .td {
    padding: 8px;
  }

  .table-show {
    font-size: 1rem;
    font-weight: 500;
  }


  /* LangX Token Introduction */
  .langx-token-introduction-section > main {
    max-width: none;
  }

  .langx-token-introduction-section h1 {
    font-size: 3.2rem;
    text-shadow: 0px 4px 0px #130900;
  }

  .bigger-fs {
    font-size: 5rem;
    text-shadow: 0px 6px 0px #130900;
  }

  .langx-token-introduction-section h2 {
    font-size: 3.4rem;
    text-shadow:  0px 4px 0px #130900;
  }
}
